Checks: "*,-llvmlibc-*,-fuchsia-trailing-return,-fuchsia-default-arguments-calls,-fuchsia-default-arguments-declarations,-fuchsia-overloaded-operator"
WarningsAsErrors: "*"
HeaderFilterRegex: .
FormatStyle: LLVM
