Checks: >
  *,
  -llvmlibc-*,
  -fuchsia-overloaded-operator,
  -fuchsia-virtual-inheritance,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-trailing-return,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -google-readability-todo,
# 'llvm-header-guard' dislikes Windows-style paths
WarningsAsErrors: >
  *,
  -clang-diagnostic-unknown-pragmas,
  -clang-diagnostic-unknown-attributes,
  -llvm-header-guard,
HeaderFilterRegex: .
FormatStyle: LLVM
